In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('PopFinland.csv',sep=';',header=[0],skiprows=[0],encoding='latin-1')

In [3]:
data

,Year,WHOLE COUNTRY Citizens of foreign countries,WHOLE COUNTRY Persons born abroad,WHOLE COUNTRY Foreign-language speakers,WHOLE COUNTRY Persons with foreign background,"WHOLE COUNTRY Share of foreign citizens, %","WHOLE COUNTRY Share of persons born abroad, %","WHOLE COUNTRY Share of foreign-language speakers, %","WHOLE COUNTRY Share of persons with foreign background , %","WHOLE COUNTRY Share of foreign citizens among foreign citizens in the whole country, %",...,MK21 Åland Foreign-language speakers,MK21 Åland Persons with foreign background,"MK21 Åland Share of foreign citizens, %","MK21 Åland Share of persons born abroad, %","MK21 Åland Share of foreign-language speakers, %","MK21 Åland Share of persons with foreign background , %","MK21 Åland Share of foreign citizens among foreign citizens in the whole country, %","MK21 Åland Share of persons born abroad among persons born abroad in the whole country, %","MK21 Åland Share of foreign-language speakers among foreign-language speakers in the whole country, %","MK21 Åland Share of persons with foreign background among persons with foreign backgr. in the whole country, %"
0,2010,167954,248135,224388,237066,3.1,4.6,4.2,4.4,100.0,...,1462,3054,8.6,13.5,5.2,10.9,1.44,1.53,0.65,1.29
1,2011,183133,266148,244827,257494,3.4,4.9,4.5,4.8,100.0,...,1623,3293,9.0,14.2,5.7,11.6,1.40,1.51,0.66,1.28
2,2012,195511,285471,266949,279616,3.6,5.3,4.9,5.2,100.0,...,1733,3454,9.2,14.6,6.1,12.1,1.33,1.46,0.65,1.24
3,2013,207511,304279,289068,301524,3.8,5.6,5.3,5.5,100.0,...,1850,3618,9.5,15.1,6.5,12.6,1.31,1.42,0.64,1.20
4,2014,219675,321977,310306,322711,4.0,5.9,5.7,5.9,100.0,...,1986,3824,9.8,15.6,6.9,13.2,1.29,1.40,0.64,1.18
5,2015,229765,337162,329562,339925,4.2,6.1,6.0,6.2,100.0,...,2093,3862,10.1,16.0,7.2,13.3,1.27,1.38,0.64,1.14
6,2016,243639,357541,353993,364787,4.4,6.5,6.4,6.6,100.0,...,2255,4126,10.6,16.8,7.7,14.1,1.27,1.37,0.64,1.13
7,2017,249452,372802,373325,384123,4.5,6.8,6.8,7.0,100.0,...,2388,4316,10.8,17.2,8.1,14.6,1.28,1.36,0.64,1.12
8,2018,257572,387215,391746,402619,4.7,7.0,7.1,7.3,100.0,...,2538,4612,11.4,18.1,8.5,15.5,1.32,1.39,0.65,1.15
9,2019,267629,404179,412644,423494,4.8,7.3,7.5,7.7,100.0,...,2621,4758,11.4,18.4,8.8,15.9,1.28,1.36,0.64,1.12

In [4]:
data=data[data.columns[~data.columns.str.contains(r'\%$')]]

In [5]:
data['MA1 MAINLAND FINLAND Citizens of foreign countries']

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: MA1 MAINLAND FINLAND Citizens of foreign countries, dtype: int64

In [6]:
data.columns

Index(['Year', 'WHOLE COUNTRY Citizens of foreign countries',
       'WHOLE COUNTRY Persons born abroad',
       'WHOLE COUNTRY Foreign-language speakers',
       'WHOLE COUNTRY Persons with foreign background',
       'MA1 MAINLAND FINLAND Citizens of foreign countries',
       'MA1 MAINLAND FINLAND Persons born abroad',
       'MA1 MAINLAND FINLAND Foreign-language speakers',
       'MA1 MAINLAND FINLAND Persons with foreign background',
       'MK01 Uusimaa Citizens of foreign countries',
       'MK01 Uusimaa Persons born abroad',
       'MK01 Uusimaa Foreign-language speakers',
       'MK01 Uusimaa Persons with foreign background',
       'MK02 Southwest Finland Citizens of foreign countries',
       'MK02 Southwest Finland Persons born abroad',
       'MK02 Southwest Finland Foreign-language speakers',
       'MK02 Southwest Finland Persons with foreign background',
       'MK04 Satakunta Citizens of foreign countries',
       'MK04 Satakunta Persons born abroad',
       'MK04 Satakunta Foreign-language speakers',
       'MK04 Satakunta Persons with foreign background',
       'MK05 Kanta-Häme Citizens of foreign countries',
       'MK05 Kanta-Häme Persons born abroad',
       'MK05 Kanta-Häme Foreign-language speakers',
       'MK05 Kanta-Häme Persons with foreign background',
       'MK06 Pirkanmaa Citizens of foreign countries',
       'MK06 Pirkanmaa Persons born abroad',
       'MK06 Pirkanmaa Foreign-language speakers',
       'MK06 Pirkanmaa Persons with foreign background',
       'MK07 Päijät-Häme Citizens of foreign countries',
       'MK07 Päijät-Häme Persons born abroad',
       'MK07 Päijät-Häme Foreign-language speakers',
       'MK07 Päijät-Häme Persons with foreign background',
       'MK08 Kymenlaakso Citizens of foreign countries',
       'MK08 Kymenlaakso Persons born abroad',
       'MK08 Kymenlaakso Foreign-language speakers',
       'MK08 Kymenlaakso Persons with foreign background',
       'MK09 South Karelia Citizens of foreign countries',
       'MK09 South Karelia Persons born abroad',
       'MK09 South Karelia Foreign-language speakers',
       'MK09 South Karelia Persons with foreign background',
       'MK10 South Savo Citizens of foreign countries',
       'MK10 South Savo Persons born abroad',
       'MK10 South Savo Foreign-language speakers',
       'MK10 South Savo Persons with foreign background',
       'MK11 North Savo Citizens of foreign countries',
       'MK11 North Savo Persons born abroad',
       'MK11 North Savo Foreign-language speakers',
       'MK11 North Savo Persons with foreign background',
       'MK12 North Karelia Citizens of foreign countries',
       'MK12 North Karelia Persons born abroad',
       'MK12 North Karelia Foreign-language speakers',
       'MK12 North Karelia Persons with foreign background',
       'MK13 Central Finland Citizens of foreign countries',
       'MK13 Central Finland Persons born abroad',
       'MK13 Central Finland Foreign-language speakers',
       'MK13 Central Finland Persons with foreign background',
       'MK14 South Ostrobothnia Citizens of foreign countries',
       'MK14 South Ostrobothnia Persons born abroad',
       'MK14 South Ostrobothnia Foreign-language speakers',
       'MK14 South Ostrobothnia Persons with foreign background',
       'MK15 Ostrobothnia Citizens of foreign countries',
       'MK15 Ostrobothnia Persons born abroad',
       'MK15 Ostrobothnia Foreign-language speakers',
       'MK15 Ostrobothnia Persons with foreign background',
       'MK16 Central Ostrobothnia Citizens of foreign countries',
       'MK16 Central Ostrobothnia Persons born abroad',
       'MK16 Central Ostrobothnia Foreign-language speakers',
       'MK16 Central Ostrobothnia Persons with foreign background',
       'MK17 North Ostrobothnia Citizens of foreign countries',
       'MK17 North Ostrobothnia Persons born abroad',
       'MK17 North Ostrobothnia Foreign-language speakers',
       'MK17 North Ostrobothnia Persons with foreign background',
       'MK18 Kainuu Citizens of foreign countries',
       'MK18 Kainuu Persons born abroad',
       'MK18 Kainuu Foreign-language speakers',
       'MK18 Kainuu Persons with foreign background',
       'MK19 Lapland Citizens of foreign countries',
       'MK19 Lapland Persons born abroad',
       'MK19 Lapland Foreign-language speakers',
       'MK19 Lapland Persons with foreign background',
       'MA2 ÅLAND Citizens of foreign countries',
       'MA2 ÅLAND Persons born abroad', 'MA2 ÅLAND Foreign-language speakers',
       'MA2 ÅLAND Persons with foreign background',
       'MK21 Åland Citizens of foreign countries',
       'MK21 Åland Persons born abroad',
       'MK21 Åland Foreign-language speakers',
       'MK21 Åland Persons with foreign background'],
      dtype='object')

In [7]:
data[['MA2 ÅLAND Citizens of foreign countries',
       'MA2 ÅLAND Persons born abroad', 'MA2 ÅLAND Foreign-language speakers',
       'MA2 ÅLAND Persons with foreign background',
       'MK21 Åland Citizens of foreign countries',
       'MK21 Åland Persons born abroad',
       'MK21 Åland Foreign-language speakers',
       'MK21 Åland Persons with foreign background']]

,MA2 ÅLAND Citizens of foreign countries,MA2 ÅLAND Persons born abroad,MA2 ÅLAND Foreign-language speakers,MA2 ÅLAND Persons with foreign background,MK21 Åland Citizens of foreign countries,MK21 Åland Persons born abroad,MK21 Åland Foreign-language speakers,MK21 Åland Persons with foreign background
0,0,0,0,0,2415,3785,1462,3054
1,0,0,0,0,2560,4018,1623,3293
2,0,0,0,0,2610,4171,1733,3454
3,0,0,0,0,2721,4316,1850,3618
4,0,0,0,0,2837,4502,1986,3824
5,0,0,0,0,2927,4642,2093,3862
6,0,0,0,0,3092,4905,2255,4126
7,0,0,0,0,3182,5082,2388,4316
8,0,0,0,0,3396,5377,2538,4612
9,0,0,0,0,3421,5497,2621,4758

In [8]:
data=data.T

In [9]:
data.reset_index(inplace=True)

In [10]:
data.columns=data.loc[0]

In [11]:
data=data.drop(0)

In [12]:
data

,Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,WHOLE COUNTRY Citizens of foreign countries,167954,183133,195511,207511,219675,229765,243639,249452,257572,267629
2,WHOLE COUNTRY Persons born abroad,248135,266148,285471,304279,321977,337162,357541,372802,387215,404179
3,WHOLE COUNTRY Foreign-language speakers,224388,244827,266949,289068,310306,329562,353993,373325,391746,412644
4,WHOLE COUNTRY Persons with foreign background,237066,257494,279616,301524,322711,339925,364787,384123,402619,423494
5,MA1 MAINLAND FINLAND Citizens of foreign count...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
84,MA2 ÅLAND Persons with foreign background,0,0,0,0,0,0,0,0,0,0
85,MK21 Åland Citizens of foreign countries,2415,2560,2610,2721,2837,2927,3092,3182,3396,3421
86,MK21 Åland Persons born abroad,3785,4018,4171,4316,4502,4642,4905,5082,5377,5497
87,MK21 Åland Foreign-language speakers,1462,1623,1733,1850,1986,2093,2255,2388,2538,2621
88,MK21 Åland Persons with foreign background,3054,3293,3454,3618,3824,3862,4126,4316,4612,4758

In [13]:
Region=data['Year'].str.replace(r'(\s[CPF][a-z].+)','')

In [14]:
Region

1            WHOLE COUNTRY
2            WHOLE COUNTRY
3            WHOLE COUNTRY
4            WHOLE COUNTRY
5     MA1 MAINLAND FINLAND
              ...
84               MA2 ÅLAND
85              MK21 Åland
86              MK21 Åland
87              MK21 Åland
88              MK21 Åland
Name: Year, Length: 88, dtype: object

In [15]:
Attribute=data['Year'].str.replace(r'.+(?=(\s[CPF][a-z].+))','')

In [16]:
Attribute

1        Citizens of foreign countries
2                  Persons born abroad
3            Foreign-language speakers
4      Persons with foreign background
5        Citizens of foreign countries
                    ...
84     Persons with foreign background
85       Citizens of foreign countries
86                 Persons born abroad
87           Foreign-language speakers
88     Persons with foreign background
Name: Year, Length: 88, dtype: object

In [17]:
data.isna().sum().sum()

0

In [18]:
data['Attribute']=Attribute

In [19]:
data['Region']=Region

In [20]:
data.drop('Year',axis=1,inplace=True)

In [21]:
data

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Attribute,Region
1,167954,183133,195511,207511,219675,229765,243639,249452,257572,267629,Citizens of foreign countries,WHOLE COUNTRY
2,248135,266148,285471,304279,321977,337162,357541,372802,387215,404179,Persons born abroad,WHOLE COUNTRY
3,224388,244827,266949,289068,310306,329562,353993,373325,391746,412644,Foreign-language speakers,WHOLE COUNTRY
4,237066,257494,279616,301524,322711,339925,364787,384123,402619,423494,Persons with foreign background,WHOLE COUNTRY
5,0,0,0,0,0,0,0,0,0,0,Citizens of foreign countries,MA1 MAINLAND FINLAND
...,...,...,...,...,...,...,...,...,...,...,...,...
84,0,0,0,0,0,0,0,0,0,0,Persons with foreign background,MA2 ÅLAND
85,2415,2560,2610,2721,2837,2927,3092,3182,3396,3421,Citizens of foreign countries,MK21 Åland
86,3785,4018,4171,4316,4502,4642,4905,5082,5377,5497,Persons born abroad,MK21 Åland
87,1462,1623,1733,1850,1986,2093,2255,2388,2538,2621,Foreign-language speakers,MK21 Åland
88,3054,3293,3454,3618,3824,3862,4126,4316,4612,4758,Persons with foreign background,MK21 Åland

In [22]:
data.T

,1,2,3,4,5,6,7,8,9,10,...,79,80,81,82,83,84,85,86,87,88
0,,,,,,,,,,,,,,,,,,,,,
2010,167954,248135,224388,237066,0,0,0,0,86685,121352,...,3167,3794,0,0,0,0,2415,3785,1462,3054
2011,183133,266148,244827,257494,0,0,0,0,94966,131101,...,3467,4102,0,0,0,0,2560,4018,1623,3293
2012,195511,285471,266949,279616,0,0,0,0,102118,141965,...,3681,4316,0,0,0,0,2610,4171,1733,3454
2013,207511,304279,289068,301524,0,0,0,0,109213,152458,...,3971,4610,0,0,0,0,2721,4316,1850,3618
2014,219675,321977,310306,322711,0,0,0,0,116791,162824,...,4231,4860,0,0,0,0,2837,4502,1986,3824
2015,229765,337162,329562,339925,0,0,0,0,123300,172143,...,4367,4850,0,0,0,0,2927,4642,2093,3862
2016,243639,357541,353993,364787,0,0,0,0,130963,183459,...,4665,5164,0,0,0,0,3092,4905,2255,4126
2017,249452,372802,373325,384123,0,0,0,0,135412,193255,...,4839,5331,0,0,0,0,3182,5082,2388,4316
2018,257572,387215,391746,402619,0,0,0,0,141597,202957,...,5038,5519,0,0,0,0,3396,5377,2538,4612
2019,267629,404179,412644,423494,0,0,0,0,149253,214768,...,5032,5505,0,0,0,0,3421,5497,2621,4758
Attribute,Citizens of foreign countries,Persons born abroad,Foreign-language speakers,Persons with foreign background,Citizens of foreign countries,Persons born abroad,Foreign-language speakers,Persons with foreign background,Citizens of foreign countries,Persons born abroad,...,Foreign-language speakers,Persons with foreign background,Citizens of foreign countries,Persons born abroad,Foreign-language speakers,Persons with foreign background,Citizens of foreign countries,Persons born abroad,Foreign-language speakers,Persons with foreign background
Region,WHOLE COUNTRY,WHOLE COUNTRY,WHOLE COUNTRY,WHOLE COUNTRY,MA1 MAINLAND FINLAND,MA1 MAINLAND FINLAND,MA1 MAINLAND FINLAND,MA1 MAINLAND FINLAND,MK01 Uusimaa,MK01 Uusimaa,...,MK19 Lapland,MK19 Lapland,MA2 ÅLAND,MA2 ÅLAND,MA2 ÅLAND,MA2 ÅLAND,MK21 Åland,MK21 Åland,MK21 Åland,MK21 Åland